form(
  action='https://www.formingo.co/submit/3132554a-f5fe-436b-afdf-3a621e554b50'
  method='POST'
)
  .col-wrap
    .formcol
      .form
        label(for='name') Name:
        input(
          type='text'
          name='name'
          id='name'
          placeholder='Joe Smith'
          required='true'
          autocomplete='name'
        )
      .form
        label(for='__replyto') Email:
        input(
          type='email'
          name='__replyto'
          id='__replyto'
          placeholder='jsmith@example.com'
          required='true'
          autocomplete='email'
        )
      .form
        label(for='phone') Phone:
        input(
          type='tel'
          name='phone'
          id='phone'
          placeholder='610-555-1212'
          autocomplete='tel'
        )
    .formcol
      .form
        label(for='message') Message:
        textarea(
          name='message'
          id='message'
          placeholder='Your message here'
          minlength=20
          rows=6
          cols=20
        )
  input(
    type='hidden'
    name='__redirect'
    id='__redirect'
    value=''
  )
  input(
    type='hidden'
    name='__subject'
    id='__subject'
    value='Troop 151 Website Contact'
  )
  input(
    type='submit'
    id='form_submit'
    value='Send Message'
  )
script.
  var r = document.getElementById('__redirect')
  r.value = window.location.origin + '/thankyou.html'
