doctype html
html(prefix='og: http://ogp.me/ns#')
  block vars
    -var pageTitle = 'Layout'
    -var pageDesc = 'Description of this page'
    -var mastheadImgUrl ='/img/masthead_img.jpg'

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content="#{pageDesc}")
    meta(name='author', content= "Troop 151 Broomall, PA")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle

    <meta property="og:title" content="#{pageTitle}" />
    <meta property="og:description" content="#{pageDesc}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="#{mastheadImgUrl}" />

    != css()

  body
    include _header.jade
    #main
      block masthead
      #content
        block content
    include _foot.jade

    != js()
