mixin linkbutton(link, text)
  .more-div
    span.more-wrap
      a(href=link, class='more-button')= text

mixin eventItem(title, eventImage)
  .event-gallery
    img(src='./img/events/'+eventImage)
    .background-shade
      .event-desc
        h4= title
        block

mixin leader(name, title, profileImage)
  .leader-gallery
    if profileImage
      img(src='./img/leaders/'+profileImage)
    else
      img(src='./img/leaders/no-photo.png')
    p.leader_name= name
    p.leader_title= title

mixin eagle(name, year)
  .eagle-gallery
    .eagle-logo
      img(src='./img/eagle_badge.gif')
    .eagle-data
      p.eagle-name= name
      p.eagle-year= year
      
mixin foxyitem(name, description, price, image, code, option_name, ...options)
  .item-card
    p.item-name= name
    p.item-description= description
    p.item-price= '$' + price.toFixed(2)
    .item-image
      img(src=image)
    .item-form
      form(action='https://t151.foxycart.com/cart', method='post', accept-charset='utf-8')
      input(type='hidden', name='name', value= name)
      input(type='hidden', name='price', value= price)
      input(type='hidden', name='code', value= code)
      input(type='hidden', name='expires', value= Date('2019-12-01T00:00:00').valueOf())
      input(type='number', name='quantity' value=1, min=0)
      label(for='quantity') Qty
      if option_name
        label.option_label= option_name
        select(name= option_name)
          each item in options
            option(value= `${item}`) #{item}
      input.submit(type='submit', value=`Add ${name}`)