extends _partials/_layout

block vars
  -var pageFile = 'index'
  -var pageTitle = 'Troop 151, Broomall, PA'
  -var pageDesc = 'Troop 151 is a Scout-led Troop that meets at Marple Presbyterian Church on Wednesdays from 7-8pm.'
  -var mastheadImg ='HSR_gateway.jpg'

block masthead
      h1 Troop 151, Broomall PA
      p A Scout-Led Troop
      p Chartered to Marple Presbyterian Church

block content
  //- Content comes from /src/_data/essentials.yaml 
  article#essentials
    header
      h1= essentials.header
    .col-wrap
      each e in essentials.items
        .col-thirds(id= e.name)
          img(src='./img/' + e.image)
          p!= e.text
    +linkbutton(essentials.button.link, essentials.button.text)

  //- Content comes from /src/_data/events.yaml
  article#events
    header
      h1= events.header
    .col-wrap
      each e in events.events
        .event-gallery
          img(src='/img/events/'+e.image)
          .background-shade
            .event-desc
              h4= e.name
              p!= e.text.trim()
    p.events-foot!= events.footer