extends _partials/_layout

block vars
  -var pageFile = 'resources' 
  -var pageTitle = 'Troop 151 Tools and Resources'
  -var pageDesc = 'Links to forms, websites, and resources that help make Troop 151 go'
  -var mastheadImg ='tools.jpg'

block masthead
  h1 Tools and Resources
  p The forms, websites and other resources that help things go.

//- Content comes from /src/_data/resources.yaml 
block content
  .prose-page
    #toc.toc
      h1 Table of Contents
      ul
        each r in resources
          li: a(href='#' + r.slug ) #{r.section}

    each r in resources
        .tool-section(id= r.slug)
            h1= r.section
            if r.subtitle
                h2= r.subtitle
            if r.text
                each para in r.text.split('\n')
                    p!= para
            dl
              each item in r.items
                if item.link
                    dt: a(href=item.link target='_blank') #{item.name}
                else
                    dt= item.name
                each para in item.text.split('\n')
                    dd!= para